#top {
    background-color: #f8f9fa;

    .container-top {
        margin: auto;
        max-width: 1140px;
        padding: 16px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icons {
            display: flex;
            font-size: 30px;
            gap: 3px;
        }

        .contact {
            display: flex;
            gap: 20px;

            div {
                display: flex;
                align-items: center;
                gap: 8px;

                .icon {
                    color: #f16821;
                    font-size: 14px;
                }
            }
        }
    }
}