nav {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10000;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);

    .container-nav {
        max-width: 1140px;
        padding: 20px 20px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            h1 {
                font-size: 40px;
            }
        }

        .navigations {
            ul {
                display: flex;
                gap: 60px;
                justify-content: space-between;

                li {
                    a {
                        font-size: 16px;
                        color: black;
                        transition: all 350ms;

                        &:hover {
                            color: #f16821;
                        }
                    }

                    .red {
                        color: red;
                    }
                }

                .burger {
                    display: none;
                }
            }
        }
    }
}



@media only screen and (max-width: 850px) {
    li {
        display: none;
    }

    .burger {
        display: block !important;
    }
}